<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head></head>
    <body>
        <h1>{{title}}</h1>

        {{#modules}}
        {{>module}}
        {{/modules}}
    </body>
</html>
