<h3 id="{{ID}}">{{TypeName}}s</h3>
<table class='table table-striped table-bordered'>
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Return type</th>
            <th>Documentation</th>
        </tr>
    </thead>
    <tbody>
        {{#JavaActions}}
        <tr>
            <td><a href='#{{ID}}'>{{Name}}</a></td>
            <td>{{Return type}}</td>
            <td>{{Documentation}}</td>
        </tr>
        {{/JavaActions}}
    </tbody>
</table>

<div class="back-to-top"><a href="#top">Back to top</a></div>

{{#JavaActions}}
{{> JavaAction}}
{{/JavaActions}}
