<h4 id='{{ID}}'>{{TypeName}} '{{Name}}'</h4>
<p>{{Documentation}}</p>

<h5>Parameters</h5>
{{#HasParameters}}
<table class='table table-striped table-bordered'>
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Documentation</th>
        </tr>
    </thead>
    <tbody>
        {{#Parameters}}
        <tr>
            <td>{{Name}}</td>
            <td>{{Type}}</td>
            <td>{{Documentation}}</td>
        </tr>
        {{/Parameters}}
    </tbody>
</table>
{{/HasParameters}}
{{^HasParameters}}
This {{LowerTypeName}} has no parameters.
{{/HasParameters}}

<h5>Return type</h5>
<p>{{ReturnType}}</p>

<div class="back-to-top"><a href="#top">Back to top</a></div>